.event-title, .event-title-date {
    font-weight: 400;
}

.event-title {
    font-size: 171.429%;
    line-height: 0.875;
    margin: 0 0 0.875em;
}

.event-title-date {
    font-size: 150%;
    line-height: 1;
    margin: 0 0 1em;    
}

.event-date {
    line-height: 1;
    margin: 0 0 0.5em;    
}

.event-date, .event-location {
    font-size: 110%;;
}

.event-rrules {
    margin: 0 0 1em;
}

.event-location, .event-summary {
    margin: 0.5em 0;
}

.event-item {
    margin: 0 0 1.5em;
}

.event-allday {
    text-transform: uppercase;
}

.events-more-links {
    margin: 1.5em 0;
}