### vscode ###
.vscode/
### NetBeans ###
**/nbproject/
### PhpStorm ###
.idea/
*.css.map
### macOS ###
.DS_Store
### Node ###
node_modules/
package-lock.json
### Composer ###
composer.lock
### WordPress ###
*.pot
### Loco Translate ###
languages/*.l10n.php
languages/*.l10n.php.*
### Tmp ###
_tmp/
