### vscode ###
.vscode/
### NetBeans ###
**/nbproject/
### PhpStorm ###
.idea/
*.css.map
### macOS ###
.DS_Store
### Node ###
node_modules/
### WordPress ###
/languages/*.pot
/languages/*.mo
### Tmp ###
/_tmp/
