.titip-default {
    &[class*=titip][data-title] {
        &:before {
            border-color: #fff;
        }

        &:after {
            color: #333;
            background-color: #fff;
        }

        &:before {
            border-color: #fafafa;
        }
    }

    > .titip-content:before {
        border-color: #fff;
    }

    > .titip-content {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
}

.titip-primary {
    &[class*=titip][data-title] {
        &:before {
            border-color: #337ab7;
        }

        &:after {
            color: #fff;
            background-color: #337ab7;
        }
    }

    > .titip-content:before {
        border-color: #337ab7;
    }

    > .titip-content {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
}

.titip-success {
    &[class*=titip][data-title] {
        &:before {
            border-color: #5cb85c;
        }

        &:after {
            color: #fff;
            background-color: #5cb85c;
        }
    }

    > .titip-content:before {
        border-color: #5cb85c;
    }

    > .titip-content {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
}

.titip-info {
    &[class*=titip][data-title] {
        &:before {
            border-color: #5bc0de;
        }

        &:after {
            color: #fff;
            background-color: #5bc0de;
        }
    }

    > .titip-content:before {
        border-color: #5bc0de;
    }

    > .titip-content {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }
}

.titip-warning {
    &[class*=titip][data-title] {
        &:before {
            border-color: #f0ad4e;
        }

        &:after {
            color: #fff;
            background-color: #f0ad4e;
        }
    }

    > .titip-content:before {
        border-color: #f0ad4e;
    }

    > .titip-content {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }
}

.titip-danger {
    &[class*=titip][data-title] {
        &:before {
            border-color: #d9534f;
        }

        &:after {
            color: #fff;
            background-color: #d9534f;
        }
    }

    > .titip-content:before {
        border-color: #d9534f;
    }

    > .titip-content {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
}

.titip-fade {
    &:after,
    &:before,
    .titip-content {
        -webkit-transition: opacity 0.3s linear, visibility 0.3s linear;
        transition: opacity 0.3s linear, visibility 0.3s linear;
    }
}

.titip-flip:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: flipYIn 0.3s linear;
        animation: flipYIn 0.3s linear;
    }
}

.titip-flip-x:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: flipXIn 0.3s linear;
        animation: flipXIn 0.3s linear;
    }
}

.titip-swing:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: swing 0.3s linear;
        animation: swing 0.3s linear;
    }
}

.titip-rotate:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: rotateLeftIn 0.3s linear;
        animation: rotateLeftIn 0.3s linear;
    }
}

.titip-slide:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: slideIn 0.3s linear;
        animation: slideIn 0.3s linear;
    }
}

.titip-slide-up:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: slideBottomIn 0.3s linear;
        animation: slideBottomIn 0.3s linear;
    }
}

.titip-fall:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: fallIn 0.3s linear;
        animation: fallIn 0.3s linear;
    }
}

.titip-scale:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: scaleIn 0.3s ease-in-out;
        animation: scaleIn 0.3s ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

.titip-alert:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: redAlertIn 0.3s linear;
        animation: redAlertIn 0.3s linear;
    }
}

.titip-pulse:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: pulse 0.3s linear;
        animation: pulse 0.3s linear;
    }
}

.titip-sing:hover {
    &:after,
    &:before,
    .titip-content {
        -webkit-animation: singIn 0.3s ease-in-out;
        animation: singIn 0.3s ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}

[class*=titip] {
    position: relative;
    display: inline-block;
    cursor: help;

    &[data-title] {
        &:after,
        &:before {
            position: absolute;
            z-index: 9999;
            visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            opacity: 0;
            filter: alpha(opacity = 0);
        }
    }

    .titip-content {
        position: absolute;
        z-index: 9999;
        visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
        filter: alpha(opacity = 0);
    }

    &[data-title]:after {
        width: auto;
        color: #eee;
        background-color: #333;
    }
}

.titip-content {
    width: auto;
    color: #eee;
    background-color: #333;
}

.titip-content:before,
[class*=titip][data-title]:before {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    content: '';
    border: 8px solid #333;
}

* .titip-hidden {
    &[class*=titip][data-title] {
        &:after,
        &:before {
            visibility: hidden !important;
            opacity: 0 !important;
            filter: alpha(opacity = 0) !important;
        }
    }

    .titip-content {
        visibility: hidden !important;
        opacity: 0 !important;
        filter: alpha(opacity = 0) !important;
    }
}

.titip-content {
    border: 1px solid #333;

    &:before {
        position: absolute;
        z-index: 10000;
    }

    &:after {
        position: absolute;
        z-index: 10000;
        z-index: 9999;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        content: '';
        border-width: 8px;
        border-style: solid;
        border-color: inherit;
    }

    &.thick-border {
        border-width: 4px;
    }
}

.titip-content,
[class*=titip][data-title]:after {
    font-size: 13px;
    line-height: 13px;
    padding: 6px 9px 7px;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 1px 1px 7px 0 rgba(50, 50, 50, 0.09);
    text-shadow: none;
}

.titip-xs {
    &[data-title]:after,
    .titip-content {
        padding: 3px 5px 2px;
    }
}

[data-title][class*=titip]:after {
    content: attr(data-title);
}

.titip-active .titip-content {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity = 100);
}

[class*=titip] {
    &:active .titip-content,
    &:hover .titip-content {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity = 100);
    }
}

.titip-active[data-title]:before {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity = 100);
}

[class*=titip] {
    &:active[data-title]:before,
    &:hover[data-title]:before {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity = 100);
    }
}

.titip-active[data-title]:after {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity = 100);
}

[class*=titip] {
    &:active[data-title]:after,
    &:hover[data-title]:after {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity = 100);
    }
}

[class*=titip-bottom] > .titip-content,
[class*=titip-bottom][data-title]:after,
[class*=titip-bottom][data-title]:before,
[class*=titip-top] > .titip-content,
[class*=titip-top][data-title]:after,
[class*=titip-top][data-title]:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

[class*=titip-bottom] > .titip-content:after,
[class*=titip-bottom] > .titip-content:before,
[class*=titip-bottom][data-title]:before,
[class*=titip-top] > .titip-content:after,
[class*=titip-top] > .titip-content:before,
[class*=titip-top][data-title]:before {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
}

[class*=titip-bottom] > .titip-content:before,
[class*=titip-top] > .titip-content:before {
    left: 50%;
    margin-left: -4px;
}

[class*=titip-bottom] > .titip-content:after,
[class*=titip-top] > .titip-content:after {
    left: 50%;
    margin-left: -6px;
}

[class*=titip-bottom] > .titip-content.thick-border:after,
[class*=titip-top] > .titip-content.thick-border:after {
    margin-left: -9px;
}

.titip {
    &[data-title] {
        &:after,
        &:before {
            top: 100%;
            margin-top: 5px;
            margin-left: 50%;
        }
    }

    > .titip-content {
        top: 100%;
        margin-top: 5px;
        margin-left: 50%;
    }
}

[class*=titip-top] {
    > .titip-content {
        &:after,
        &:before {
            border-width: 8px 4px 0;
            border-bottom-color: transparent !important;
        }
    }

    &[data-title] {
        &:before {
            border-width: 8px 4px 0;
            border-bottom-color: transparent !important;
        }

        &:after {
            bottom: 100%;
        }

        &:before {
            bottom: 100%;
            margin-bottom: 2px;
        }

        &:after {
            margin-bottom: 10px;
        }
    }

    > .titip-content {
        &:after {
            border-width: 9px 6px 0;
        }
        bottom: 100%;
    }

    > .titip-content {
        margin-bottom: 10px;
    }

    > .titip-content {
        &:before {
            bottom: -8px;
        }

        &:after {
            bottom: -10px;
        }

        &.thick-border {
            margin-bottom: 16px;

            &:before {
                bottom: -10px;
                border-width: 10px 5px 0;
            }

            &:after {
                bottom: -15px;
                border-width: 15px 10px 0;
            }
        }
    }
}

[class*=titip-bottom] {
    > .titip-content {
        &:after,
        &:before {
            border-width: 0 4px 8px;
            border-top-color: transparent !important;
        }
    }

    &[data-title] {
        &:before {
            border-width: 0 4px 8px;
            border-top-color: transparent !important;
        }

        &:after {
            top: 100%;
        }

        &:before {
            top: 100%;
            margin-top: 2px;
        }

        &:after {
            margin-top: 10px;
        }
    }

    > .titip-content {
        &:after {
            border-width: 0 6px 9px;
        }
        top: 100%;
    }

    > .titip-content {
        margin-top: 10px;
    }

    > .titip-content {
        &:before {
            top: -8px;
        }

        &:after {
            top: -10px;
        }

        &.thick-border {
            margin-top: 13px;

            &:before {
                top: -10px;
                border-width: 0 5px 10px;
            }

            &:after {
                top: -15px;
                border-width: 0 10px 15px;
            }
        }
    }
}

[class*=titip-bottom-left] > .titip-content,
[class*=titip-bottom-left][data-title]:after,
[class*=titip-bottom-left][data-title]:before,
[class*=titip-bottom-right] > .titip-content,
[class*=titip-bottom-right][data-title]:after,
[class*=titip-bottom-right][data-title]:before,
[class*=titip-top-left] > .titip-content,
[class*=titip-top-left][data-title]:after,
[class*=titip-top-left][data-title]:before,
[class*=titip-top-right] > .titip-content,
[class*=titip-top-right][data-title]:after,
[class*=titip-top-right][data-title]:before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

[class*=titip-bottom-left] > .titip-content,
[class*=titip-bottom-left][data-title]:after,
[class*=titip-bottom-left][data-title]:before,
[class*=titip-top-left] > .titip-content,
[class*=titip-top-left][data-title]:after,
[class*=titip-top-left][data-title]:before {
    right: 0;
    left: auto;
}

[class*=titip-bottom-left][data-title]:before,
[class*=titip-top-left][data-title]:before {
    right: 10px;
}

[class*=titip-bottom-left] > .titip-content:before,
[class*=titip-top-left] > .titip-content:before {
    right: 14px;
    left: auto;
}

[class*=titip-bottom-left] > .titip-content:after,
[class*=titip-top-left] > .titip-content:after {
    right: 12px;
    left: auto;
}

[class*=titip-bottom-left] > .titip-content.thick-border:after,
[class*=titip-top-left] > .titip-content.thick-border:after {
    right: 9px;
}

[class*=titip-bottom-right] > .titip-content,
[class*=titip-bottom-right][data-title]:after,
[class*=titip-bottom-right][data-title]:before,
[class*=titip-top-right] > .titip-content,
[class*=titip-top-right][data-title]:after,
[class*=titip-top-right][data-title]:before {
    right: auto;
    left: 0;
}

[class*=titip-bottom-right][data-title]:before,
[class*=titip-top-right][data-title]:before {
    left: 10px;
}

[class*=titip-bottom-right] > .titip-content:after,
[class*=titip-bottom-right] > .titip-content:before,
[class*=titip-top-right] > .titip-content:after,
[class*=titip-top-right] > .titip-content:before {
    left: 14px;
}

[class*=titip-left] > .titip-content,
[class*=titip-left][data-title]:after,
[class*=titip-left][data-title]:before,
[class*=titip-right] > .titip-content,
[class*=titip-right][data-title]:after,
[class*=titip-right][data-title]:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

[class*=titip-left] > .titip-content:after,
[class*=titip-left] > .titip-content:before,
[class*=titip-left][data-title]:before,
[class*=titip-right] > .titip-content:after,
[class*=titip-right] > .titip-content:before,
[class*=titip-right][data-title]:before {
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

[class*=titip-left] > .titip-content:before,
[class*=titip-right] > .titip-content:before {
    top: 50%;
    margin-top: -4px;
}

[class*=titip-left] > .titip-content:after,
[class*=titip-right] > .titip-content:after {
    top: 50%;
    margin-top: -6px;
}

[class*=titip-left] > .titip-content.thick-border:after,
[class*=titip-right] > .titip-content.thick-border:after {
    margin-top: -9px;
}

[class*=titip-left] {
    > .titip-content {
        &:after,
        &:before {
            border-width: 4px 0 4px 8px;
            border-right-color: transparent !important;
        }
    }

    &[data-title] {
        &:before {
            border-width: 4px 0 4px 8px;
            border-right-color: transparent !important;
        }

        &:after {
            right: 100%;
        }

        &:before {
            right: 100%;
            margin-right: 2px;
        }

        &:after {
            margin-right: 10px;
        }
    }

    > .titip-content {
        &:after {
            border-width: 6px 0 6px 9px;
        }
        right: 100%;
    }

    > .titip-content {
        margin-right: 10px;
    }

    > .titip-content {
        &:before {
            right: -8px;
        }

        &:after {
            right: -10px;
        }

        &.thick-border {
            margin-right: 16px;

            &:before {
                right: -10px;
                border-width: 5px 0 5px 10px;
            }

            &:after {
                right: -15px;
                border-width: 10px 0 10px 15px;
            }
        }
    }
}

[class*=titip-right] {
    > .titip-content {
        &:after,
        &:before {
            border-width: 4px 8px 4px 0;
            border-left-color: transparent !important;
        }
    }

    &[data-title] {
        &:before {
            border-width: 4px 8px 4px 0;
            border-left-color: transparent !important;
        }

        &:after {
            left: 100%;
        }

        &:before {
            left: 100%;
            margin-left: 2px;
        }

        &:after {
            margin-left: 10px;
        }
    }

    > .titip-content {
        &:after {
            border-width: 6px 9px 6px 0;
        }
        left: 100%;
    }

    > .titip-content {
        margin-left: 10px;
    }

    > .titip-content {
        &:before {
            left: -8px;
        }

        &:after {
            left: -10px;
        }

        &.thick-border {
            margin-left: 16px;

            &:before {
                left: -10px;
                border-width: 5px 10px 5px 0;
            }

            &:after {
                left: -15px;
                border-width: 10px 15px 10px 0;
            }
        }
    }
}

.titip-wrapped {
    > .titip-content,
    &:after {
        line-height: 19px;
        width: 170px !important;
        height: auto;
        padding: 11px;
        text-align: left;
        white-space: normal !important;
    }
}

.titip-wrapped-large {
    > .titip-content,
    &:after {
        line-height: 19px;
        width: 300px;
        height: auto;
        padding: 11px;
        text-align: left;
        white-space: normal !important;
    }
}