.event-item {
    margin: 0 0 1.5em;
}

.event-allday {
    text-transform: uppercase;
}

.event-label {
    font-weight: 700;
    margin: 0.5rem 0 0.2rem;
}

.single-calendar_event {
    main {
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
        @media (min-width: 1024px) {
            display: grid;
            gap: var(--gap-width, 30px);
            grid-template-columns: 1fr var(--min-width-aside, 300px);
        }
    }
    aside {
        @media (min-width: 1024px) {
            border-left: 2px solid var(--color-primary-ci-hell2,#ced9e7);
            padding-left: 15px;
        }
        dt, dd, dt *, dd * {
            font-size: 0.875rem;
            line-height: 1.313rem;
        }
        dd {
            margin-left: 0;
            margin-bottom: 1em;
            @media (min-width: 480px) {
                margin-left: 1rem;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
    .post-image {
        @media (min-width: 480px) {
            max-width: 50%;
            margin-top: 0;
        }
        @media (min-width: 992px) {
            max-width: 30%;
        }
    }
}
.rrze-event {
    margin-top: 20px;
    .rrze-event-schedule {
        margin-bottom: 1em;
        .rrze-event-date,
        .rrze-event-time,
        .rrze-event-location {
            display: block;
            @media (min-width: 768px) {
                display: inline-block;
                margin-right: 2em;
            }
        }
        ul {
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            &.cols-3 {
                columns: 300px 3;
                column-gap: 20px;
                orphans: 3;
                widows: 3;
            }
            li {
                list-style-type: none;
            }
        }
        .dashicons {
            margin-right: 5px;
            color: #333;
            position: relative;
            top: 2px;
        }
    }
    .rrze-event-description {
        span.label {
            font-weight: bold;
        }
    }
}
.rrze-event-details {
    padding-top: 1em;
    p {
        margin-bottom: .5em;
    }
    ul.downloads {
        overflow: hidden;
        padding-left: 20px;
    }

    div.prices {
        overflow: hidden;
    }
    span.label {
        display: block;
        //min-width: 140px;
        font-weight: bold;
    }
}
