/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use '../events/style' as list-style;
@use '../calendar/style' as calendar-style;

.wp-block-rrze-calendar-calendar .rrze-calendar a {
    cursor: not-allowed;
    pointer-events: none;
    color: inherit;
    text-decoration: underline;
}